
/* text drp shadow */
h1 {
    font-size: 16px;
    color: #f1f3f4;
    font-family:"roboto";
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
}​

.touchgridpanel .x-grid-cell {
font-size      : .8em;
}

.x-select-overlay{
    min-width: 200px; 
    min-height:0px;
    height: 250px;
}

.titleOverflow{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body,p {
    font-size: .8em;
    line-height: 1em;}


h2{
    font-size: .9em;
    font-weight: bold;
    font-family:"roboto";
    color: #3D3D3D;
}

h3{
    font-size: .9em;
    color: #3D3D3D;
    font-family:"roboto";
}

h4{
    font-size: .7em;
    color: #3D3D3D;
    font-family:"roboto";
}

h5{
    font-size: .6em;
    color: #3D3D3D;
    font-family:"roboto";
}

h6{
    font-size: .5em;
    color: #3D3D3D;
    font-family:"roboto";
}

h7{
   font-size: .5em;
    font-weight: bold;
    font-family:"roboto";
    /*color: #3D3D3D;*/
}

.due{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
}

.duetext{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}

.icons {
    font-size: .9em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 20px;
    vertical-align: top;
    font-family:"roboto";
    color: #3D3D3D;
}
.icons-pressed {
    background-color:#9ABFE2;
    width:50px;
    height:50px;
}

.calendar{
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    max-width: 180px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 15px;
}

.x-form-label span{
    font-size: .85em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .custombackground {
        background-image:url('../images/dashboard/app_bg_320_460.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .custombackground {
        background-image:url('../images/dashboard/app_bg_460_320.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
.imageWidth{
    width: 100%;
}
.beveltoptoolbar {
min-height: 55px;
overflow: visible;
background-image: none;
}
.logocircle {
position:relative;
top:-10px;
border-radius:50px;
border:10px solid #F2F2F2;
overflow:hidden;
height:75px;
width:75px
}
.logocircleinner {
position:relative;
top:-10px;
border-radius:50px;
border:10px solid #F2F2F2;
overflow:hidden;
height:75px;
width:75px
}
.logoinnerhome {
position:relative;
left:-10px;
top:-7px;
background:url(../images/menu/ung-logo.png) center no-repeat;
height:75px;
width:75px;
background-size:cover;
}
.loginicon {
background:url(../images/menu/login.png) center no-repeat;
float:right;
width:21px;
height:21px
}
.notif {
background-image:url(../images/menu/notification_white.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.notifPressed {
background-image:url(../images/pressedmenu/notification_white.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.profile{
    background-image:url(../images/student-profile.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.profilePressed {
background-image:url(../images/pressedmenu/profile.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.settings{
    background-image:url(../images/settings.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.settingsPressed {
background-image:url(../images/pressedmenu/toolbar-settings.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.notifbutton {
    background: none !important;
    border: none !important;
    width: 40px;
}

.x-title h1 {
position:relative;
top:87px;
font-family:Verdana;
font-size:13px;
text-shadow:0 0 0 rgba(0,0,0,0)
}
.bevelcontainer {
background-color: #f1f3f4;
padding-top: 34px;
padding-left: 10px;
padding-right: 10px;
border-radius: 15px;
/*-webkit-mask-image: radial-gradient(49px at top center, transparent 0%,transparent 31px,#000000 0px);*/
margin: 70px 5px 5px;
}
.couroselbevel{
  margin-top:0px;
}
.homepage .x-inner {
background-image: url(../images/borderline-phone.png);
background-repeat: repeat;
background-position: 0 20%;
}
.logoinnercourse {
position:relative;
left:-10px;
top:-10px;
height:75px;
width:75px;
background-size:cover;
}

.x-hasbadge .x-badge {
-webkit-border-radius: 3em;
border-radius: 3em;
min-width: 1.6em;
padding: .1em;
font-weight: 700;
}

.x-toolbar .x-button .x-badge{
    line-height: 1.2em;
}

.notif {
background-image:url(../images/menu/notification_white.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 21px 21px;
width:21px;
height:21px;
}

.notifbutton {
    background: none !important;
    border: none !important;
    width: 40px;
}

.login {
background-size: 21px 21px;
background-image:url(../images/menu/login.png) !important;
background-repeat:no-repeat !important;
background-position:cover;
margin-left:19px;
width:21px;
height:21px
}

.logout {
background-size: 21px 21px;
background-image:url(../images/menu/logout.png) !important;
background-repeat:no-repeat !important;
background-position:cover;
margin-left:15px;
margin-right:5px;
/*width:21px;*/
height:21px
}
.home {
background-image:url(../images/home.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
margin-right:5px;
width:21px;
height:21px
}

.back {
background-image:url(../images/back.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
margin-left:5px;
width:21px;
height:21px
}
.arrow {
background-image:url(../images/arrow.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size:13px 13px;
width:13px;
height:13px
}
.x-toolbar.x-docked-bottom > .x-toolbar-inner > .x-button {
    font-size: .7em !important;
    background-image: none !important;
    border: none !important;
    background-color:#003893;
    opacity:1.0;
    text-shadow: 0px 0px 0px 0;
    color: #FFD900;
}
.x-button.x-button-action,.x-button {
   font-size: 1em !important;
   background-color:#003893;
   background-image:none;
   border: none !important;
   color:#FFD900;
   text-shadow: 0px 0px 0px 0;
}
.esummaryimg
{
background-image:url(../images/menu/summary.png) !important;
background-repeat:no-repeat !important;
width:16px;
height:16px;
background-size:16px 16px;
}
.messagesimg
{
background-image:url(../images/menu/recieve1.png) !important;
background-repeat:no-repeat !important;
width:16px;
height:16px;
background-size:16px 16px;
}
.x-input-el
{
    font-size:.5em;
    padding:4px;
}
.logoutPressed {
background-size: 21px 21px;
background-image:url(../images/pressedmenu/logout.png) !important;
background-repeat:no-repeat !important;
background-position:cover;
margin-left:15px;
margin-right:5px;
width:21px;
height:21px
}