.touchgridpanel .x-grid-cell {
font-size      : .8em;
}
/* text drp shadow */
h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
}​

.x-select-overlay{
    min-width: 200px; 
    min-height:0px;
    height: 250px;
}

.titleOverflow{
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body,p {
    font-size: .8em;
    line-height: 1em;}


h2{
    font-size: .9em;
    font-weight: bold;
}

h3{
    font-size: .9em;
}

h4{
    font-size: .7em;
}

h5{
    font-size: .6em;
}

h6{
    font-size: .5em;
}

h7{
    font-size: .8em;
}

.due{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
}

.duetext{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}

.icons {
    font-size: .9em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
    vertical-align: top;
}

.calendar{
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    color:#95a1aa;
    max-width: 180px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 15px;
}

.x-form-label span{
    font-size: .85em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_320_460.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_460_320.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
.imageWidth {
    width: 100%;
}
