.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}


.menu{
    font-weight: bold;
    font-size: medium;    
}
.x-title .x-innerhtml { overflow: visible; }
.x-button-normal .x-badge{ overflow: visible; }
.tabletInnerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30 ;
    width:50%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.border{
    border-right: solid black;
}
.removeBorders{
    border-top: none !important;
    border-bottom: none !important; /* For the last row */
}

#tipsPopup {
    background-color: #00317f;
}

#alertPopup {
    background-color: #00317f;
}
#popup {
    background-color: #00317f;
    height: 100px;
    position: relative;
    width: 100px;
}

#popup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #00317f;

    bottom: 100%;
    left: 15px;
}

.titleFont{
    font-size: 12pt;
}

.x-select-overlay{
    font-size: 14px;
    min-width: 300px; 
    min-height:0px;
    height: 400px;
} 


.innerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30;
    padding: 5 5 5 5;
    width:80%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.outerTable{
    font-size: 10pt;
    width:100%;
}

.outerHead{
    font-weight: bold;
    font-size: 10pt;
}

.innerHead{
    text-align:center;
    font-weight: bold;
    font-size: 8pt;
}

.footer{
    text-align:right;
/*    font-style:italic;*/
    font-size:small;
    
}

/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
    color: #2e4bc5;
}  

/*To set background image for toolbar button*/
/*#notificationBtn{*/
/*background-image: url(http://192.168.0.22:8060/sencha/resources/images/notifications.png) ;*/
/*color: #000000;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/


.x-button-label { 
    font-weight:normal
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:4px;
    /*top: -0.8em;*/
}
/*.icons {
    font-size: .9em;
    line-height: 1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}*/

.status{
    font-size: .9em;
    line-height: 1em;
    color: red;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}



/*#logoutBtn{
    background-image: url("../images/logout.png") !important;
    background-repeat: no-repeat !important;
    width:2.5%;
}

#notificationBtn{
    background-image: url("../images/menu/notification_white.png") !important;
    background-repeat: no-repeat !important;
    width:3.5%;
}*/

.searchfieldset{
	margin: 0 0 0em;
}

.x-toolbar-dark-alert{
	background: url("") !important;
}

.msgbox .x-toolbar-dark{
    /*background: black !important;*/
}

.basefont{
	font-size: .8em
}

.x-loading-spinner {
	font-size: 1em;
}

.x-mask .x-mask-inner {
	font-weight: normal;
}

.x-button{
	border-radius: 0.1em;
}

h2{
    font-size: 1em;
    font-weight: bold;
}

h3{
    font-size: 1em;
}

h4{
    font-size: .9em;
}

h5{
    font-size: .8em;
}

h6{
    font-size: .7em;
}
.icons {
    font-size: 1.2em;
    line-height: 1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
    width: 90px;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 5px;
}

