.x-docked-bottom .x-innerhtml{
    /*background-image: url("../images/bg.png") !important;*/
    background-repeat: no-repeat !important;
}

.fontDown{
    padding: 5px;
    font-weight: bold;
}

.fontUp{
    padding: 5px;
    font-style:italic;
}

.touchgridpanel .x-grid-cell {
font-size      : .8em;
}
/* text drp shadow */
h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
    /*4 properties below are imp for trailing ellipsis*/
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.x-select-overlay{
    min-width: 200px;
    min-height:0px;
    height: 250px;
}

body,p {
    font-size: .8em;
    line-height: 1em;}


.msgbox .x-toolbar-dark{
    /*background: black !important;*/
}

.x-loading-spinner {
    font-size: 1em;
}

h2{
    font-size: .9em;
    font-weight: bold;
}

h3{
    font-size: .9em;
}

h4{
    font-size: .7em;
}

h5{
    font-size: .6em;
}

h6{
    font-size: .5em;
}
h7{
    font-size: .8em;
}
.due{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
}

.duetext{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}

.icons {
    font-size: .9em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
    vertical-align: top;
}

.calendar{
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}

.x-tabbar.x-docked-top .x-tab {
    padding: 0.4em 0.2em;
    height: 1.8em;
    -webkit-border-radius: 0.9em;
    border-radius: 0.9em;
    min-width: 2.5em;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    color:#95a1aa;
    max-width: 180px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 15px;
}

.x-form-label span{
    font-size: .85em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_320_460.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_460_320.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.some{
    font-size: 0.8em;
    line-height: 0.7em;
}
.imageWidth{
    width: 100%;
}
