/* text drp shadow */
h1 {
    font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
.touchgridpanel .x-grid-cell {
font-size      : 1.2em;
}

.x-select-overlay{
    font-size: 14px;
    min-width: 300px;
    min-height:0px;
    height: 400px;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
}

h3{
    font-size: 1.2em;
}

h4{
    font-size: .9em;
}

h5{
    font-size: .8em;
}

h6{
    font-size: .7em;
}

h7{
    font-size: 1em;
    line-height: 1.3em;
}

.due{
    font-size: 1em;
    color: #800000;
    font-weight: bold;
}

.duetext{
    font-size: 1em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}

.icons {
    font-size: 1.2em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
}

.x-tabbar.x-docked-top .x-tab {
    padding: 0.4em 0.2em;
    height: 1.8em;
    -webkit-border-radius: 0.9em;
    border-radius: 0.9em;
}

.mainModules{
   display: inline-block; 
   padding-left: 5px;
   color:#95a1aa; 
   overflow: hidden;
    max-width: 180px;
   white-space: nowrap; 
   text-overflow: ellipsis; 
   height:22px;
   font-size: 18px;
}

.x-form-label span{
    font-size: 1em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_768_1004.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_1004_768.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.dashboardBackground {
    background-image:url('../images/dashboard/app_bg_2048_1496.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

