.logo .x-scroll-container{
    background: #943634;
    color: #c8c86d;
}

#tipsPopup {
    background-color: #943634;
    color: #c8c86d;
}

#alertPopup {
    background-color: #943634;
    color: #c8c86d;
}
#popup {
    background-color: #943634;
    color: #c8c86d;
    height: 100px;
    position: relative;
    width: 100px;
}

.x-docked-bottom .x-innerhtml{
    background: #943634;
    color: #c8c86d;
}

.x-list .x-list-item {
    color: #c8c86d;
}

.x-list-label{
    color:#000;
}
.x-item-selected .x-list-label{
    color:#fff;
}

.statusMsg{
    color: #ffffff;
}

.cartCourse{
    color:#12BB15;
}

.closedCourse{
    color:#c8c86d;
}

.precheckCourse{
    color:#FF0000;
}

.onlineCourse{
    color:#0000FF;
}

.wCourse{
    color:#A901DB;
}

.gmlCourse{
    color:#868A08;
}

.course{
    color:#c8c86d;
}
.arrow{
    background-image: url("../images/arrow_white.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    width: 14px;
    height:18px;
}
.x-list .x-list-emptytext {
    background: #943634;
    color: #c8c86d;
}

.addcart{
    background-image: url("../images/addcart_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}

.addcartred{
    background-image: url("../images/addcart_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}

.removecart{
    background-image: url("../images/removecart_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.fail{
    background-image: url("../images/failicon_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.dropcourse{
    background-image: url("../images/dropcourse_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.success{
    background-image: url("../images/successfullicon_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.waitlist{
    background-image: url("../images/waitlisticon_white.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}