.logo .x-scroll-container{
    background: #e8e8e8;
    color: #595959;
}

#tipsPopup {
    background-color: #e8e8e8;
    color: #595959;
}

#alertPopup {
    background-color: #e8e8e8;
    color: #595959;
}
#popup {
    background-color: #e8e8e8;
    color: #595959;
    height: 100px;
    position: relative;
    width: 100px;
}

.x-docked-bottom .x-innerhtml{
    background: #e8e8e8;
    color: #595959;
}
.x-list .x-list-item {
    color: #595959;
}

.x-list-label{
    color:#000;
}

.x-item-selected .x-list-label{
    color:#fff;
}

.statusMsg{
    color: blue;
}

.cartCourse{
    color:#12BB15;
}

.closedCourse{
    color:#595959;
}

.precheckCourse{
    color:#FF0000;
}

.onlineCourse{
    color:#0000FF;
}

.wCourse{
    color:#A901DB;
}

.gmlCourse{
    color:#868A08;
}

.course{
    color:#595959;
}

.arrow{
    background-image: url("../images/arrow_black.png") !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    width: 14px;
    height:18px;
}
.x-list .x-list-emptytext {
    background: #e8e8e8;
    color: #595959;
}

.addcart{
    background-image: url("../images/addcart_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}

.addcartred{
    background-image: url("../images/addcart_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}

.removecart{
    background-image: url("../images/removecart_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.fail{
    background-image: url("../images/failicon_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.dropcourse{
    background-image: url("../images/dropcourse_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.success{
    background-image: url("../images/successfullicon_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}


.waitlist{
    background-image: url("../images/waitlisticon_black.png") !important;
    background-color: transparent;
    background-position-x:center; 
    height: 32px;
    background-repeat: no-repeat;
}