// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
$base-color: #ffffff;
$active-color: #0441BD;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

/*.x-toolbar .x-field-select .x-component-outer, .x-toolbar .x-field-search .x-component-outer {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    background-color: black !important;
    background-repeat: no-repeat !important;
}

.x-field-search .x-field-input .x-form-field {
margin-left: 1.35em;
color: white;
}

.x-toolbar .x-form-field:focus{
    color:white !important;
}*/