.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}

.background .x-scroll-container{
    /*IE10 Consumer Preview  */
    background: transparent url("../images/n2nBg.png") center no-repeat;
}
/* text drp shadow */
h1 {
    font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}​
.touchgridpanel .x-grid-cell {
font-size      : 1.2em;
}
.menu{
    font-weight: bold;
    font-size: medium;    
}
.x-title .x-innerhtml { overflow: visible; }
.x-button-normal .x-badge{ overflow: visible; }
.tabletInnerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30 ;
    width:50%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.border{
    border-right: solid black;
}
.removeBorders{
    border-top: none !important;
    border-bottom: none !important; /* For the last row */
}

#tipsPopup {
    background-color: #6E0046;
}

#alertPopup {
    background-color: #6E0046;
}
#popup {
    background-color: #6E0046;
    height: 100px;
    position: relative;
    width: 100px;
}

#popup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #6E0046;

    bottom: 100%;
    left: 15px;
}

.titleFont{
    font-size: 12pt;
}

.headerColor{
    font-size: 10pt;
    background:#C1D82F;
}

.x-select-overlay{
    font-size: 14px;
    min-width: 300px; 
    min-height:0px;
    height: 400px;
} 


.innerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30;
    padding: 5 5 5 5;
    width:80%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.outerTable{
    font-size: 10pt;
    width:100%;
}

.outerHead{
    font-weight: bold;
    font-size: 10pt;
}

.innerHead{
    text-align:center;
    font-weight: bold;
    font-size: 8pt;
}

.footer{
    text-align:right;
/*    font-style:italic;*/
    font-size:small;
    
}

/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
    color: #2e4bc5;
}

.searchfieldset{
    margin: 0 0 0em;
}

.x-toolbar-dark-alert{
    background: url("") !important;
}

.basefont{
    font-size: .8em
}

.x-loading-spinner {
    font-size: 1em;
}

.x-button-label { 
    font-weight:normal
}

.status{
    font-size: .9em;
    line-height: 1em;
    color: red;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}

.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:4px;
    /*top: -0.8em;*/
}

.x-mask .x-mask-inner {
	font-weight: normal;
}

.x-button{
	border-radius: 0.1em;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Verdana";
}

h3{
    font-size: 1.2em;
    font-family: "Verdana";
}

h4{
    font-size: .9em;
    font-family: "Verdana";
}

h5{
    font-size: .8em;
    font-family: "Verdana";
}

h6{
    font-size: .7em;
}

h7{
    font-size: 1em;
    line-height: 1.3em;
}

.listTitle{
    font-family:frutigerCondensed, sans-serif;
    text-align: left;
    text-transform: uppercase;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.listDetails{
    font-family:minion, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-spacing: 17.6px;
}
.listReadMore{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(113,29,69);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.listDate{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(98, 169, 174);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
}
.answer{
    font-family:minion, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-spacing: 17.6px;
}
.clearCache{
    font-family:minion, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-spacing: 17.6px;
}
.defaultCampus{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(98, 169, 174);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: 13px
}
.location{
    font-family:frutigerCon- densed, sans-serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-size: 13px;
    line-height: 10px;
}
.category{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(98, 169, 174);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
}
.image{
    /*border: 1px solid rgb(217, 210, 200);*/
    padding:2px;
    width: 284px;
    height: 190px;
}
.sectionHeading{
    font-family:frutiger, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
}
.details{
    font-family:minion, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: italic;
    font-weight: 200;
    font-size: 13px;
    line-spacing: 17.6px;
    line-height: 10px;
}
.link{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(113,29,69);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.hypeLink{
    font-family:Fruitiger, sans-serif;
    text-align: left;
    color: rgb(113,29,69);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.bkg{
    background-color: rgba(63,60,56, .15);
}

.my_toolbar{
    height: 65px !important;
    background-image: url('../images/logo_white.png') !important;
    background-position: center;
    background-size:auto 100%;
    background-repeat: no-repeat;
    border: none !important;
    background-color:  rgb(113,29,69); !important;
}
.subnavText{
    font-family:frutigerCondensed, sans-serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}
.accountsAmount{
    font-family:frutigerCon- densed, sans-serif;
    color: rgb(63,60,56);
    font-style: normal;
    font-size: 13px;
    line-height: 10px;
}
.customField input::-webkit-input-placeholder {
    color: rgb(98, 169, 174);
    text-transform: uppercase;
    font-size: 13px;
}
.contact{
    font-family:frutigerCon- densed, sans-serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-size: 13px;
}
.text{
    font-family:minion, serif;
    text-align: left;
    color: rgb(63,60,56);
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-spacing: 17.6px;
}

.due{
    /*font-size: 1em;*/
    font-family:frutigerCon- densed, sans-serif;
    color: #800000;
    /*font-weight: bold;*/
    font-size: 13px;
    line-height: 10px;
    /*font-family: "Verdana";*/
}

.icons {
    /*font-size: 1.2em;*/
    line-height: 1em;
    /*text-shadow: 0px 1px 2px #fff;*/
    display: inline-block;
    padding-bottom: 30px;
    font-family:frutigerCondensed, sans-serif; text-align: center;
    text-transform: uppercase;
    color: rgb(113,29,69);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.home{
    background-image: url("../images/home.png") !important;
    padding-left: 1.2em !important;
}
.back{
    background-image: url("../images/back.png") !important;
}

.logo .x-scroll-container{
    background-image: url('../images/background.png');,
    background-color: transparent !important;,
    background-repeat:no-repeat;
    background-position:center;background-size:auto 100%;,
    opacity : 0.3;
}

.outerContainer {
    display: table;
    height: 40px; /* height of parent */
    overflow: hidden;
}
.outerContainer .innerContainer {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

#drop .x-checkmark-base, .x-field .x-input-radio::after, .x-field .x-input-checkbox::after{
    position: absolute;
    left: auto;
    -webkit-transform-origin: 50% 50%;
    margin-top: -0.75em;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
}

#drop .x-checkmark-base, .x-field .x-input-radio:checked::after, .x-field .x-input-checkbox:checked::after {
    position: absolute;
    left: auto;
    -webkit-transform-origin: 50% 50%;
    background-color: red;
    margin-top: -0.75em;
    -webkit-transform-origin-x: 50%;
    -webkit-transform-origin-y: 50%;
}

.edit{
    background-image: url("../images/edit.png") !important;
    padding-left: 1.2em !important;
}

.down{
    background-image: url("../images/downarrow.png") !important;
    padding-left: 1.2em !important;
}

.icons a:link {
    color: #000;
    text-shadow: 0px 1px 2px #fff;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 1.2em;
}

.mapfilter.x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 0 !important;
    padding-left: 10px !important
}

#apMenuList{
    background-color: #000 !important;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    color:#95a1aa; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 13px;
}
#menuSearch{
  color: #fff;        
}

/*.mainModules{
   display: inline-block; 
   padding-left: 5px;
   color:#95a1aa;
   max-width: 180px;
   overflow: hidden;
   white-space: nowrap; 
   text-overflow: ellipsis; 
   height:22px;
   font-size: 18px;
}*/

.x-form-label span{
    font-size: 1em;
}
.textOverflow{
    max-width: 150px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}