// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
$base-color: #52388c;
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.x-toolbar .x-button .x-button-label
{
    font-size: .8em;
}
.x-toolbar .x-button
{
    margin: 0px 1px 0px 0px !important;
}
.finaid{
background-color: #59afe0 !important;
}
.x-title {
  line-height: 1em;
}

.x-button .x-button-icon {
    width: 2em;
    height: 2em;
}

.x-toolbar-dark .x-button:active {
    background-color: #3222B8;
    background-image: none;
    color:#ffffff;
}

/*.x-toolbar .x-field-select .x-component-outer, .x-toolbar .x-field-search .x-component-outer {
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
    border-radius: 0.8em;
    background-color: black !important;
    background-repeat: no-repeat !important;
    color:white !important;
}

.x-field-search .x-field-input .x-form-field {
margin-left: 1.35em;
color: white;
}

.x-toolbar .x-form-field:focus{
    color:white !important;
}*/

.statusMsg{
    color: white;
}
.cartCourse{
  color:#ffffff;
}

.closedCourse{
  color:#ffffff;
}

.precheckCourse{
  color:#ffffff;
}

.onlineCourse{
  color:#ffffff;
}

.wCourse{
  color:#ffffff;
}

.gmlCourse{
  color:#ffffff;
}

.course{
  color:#ffffff;
}
.arrow{
  background-image: url("../images/arrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: cover;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}

.clearCacheText{
  color:#000;
}

.addcart{
  background-image: url("../images/addcart.png") !important;
  background-color: transparent;
  background-position-x:center;
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.home{
  background-image: url("../images/home.png") !important;
  background-repeat: no-repeat !important;
  background-position: cover;
  width: 32px;
  height: 32px;
}

.back{
  background-image: url("../images/back.png") !important;
  background-repeat: no-repeat !important;
  background-position: cover;
  width: 32px;
  height: 32px;
}

.addcartred{
  background-image: url("../images/addcartred.png") !important;
  background-color: transparent;
  background-position-x:center;
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.removecart{
  background-image: url("../images/removecart.png") !important;
  background-color: transparent;
  background-position-x:center;
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}




.dropcourse{
  background-image: url("../images/dropcourse.png") !important;
  background-color: transparent;
  background-position-x:center;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.edit{
  background-image: url("../images/edit.png") !important;
  background-repeat: no-repeat !important;
  background-position: cover;
  width: 32px;
  height: 32px;
}

.down{
  background-image: url("../images/downarrow.png") !important;
  background-repeat: no-repeat !important;
  background-position: cover;
  width: 32px;
  height: 32px;
}

.logo .x-scroll-container{
 /*IE10 Consumer Preview  */
background-image: -ms-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

 /*Mozilla Firefox  */
background-image: -moz-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

 /*Opera  */
background-image: -o-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

/* Webkit (Safari/Chrome 10)  */
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #52388c), color-stop(1, #52388c));

/* Webkit (Chrome 11+)  */
background-image: -webkit-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

 /*W3C Markup, IE10 Release Preview  */
background-image: radial-gradient(circle farthest-side at center, #52388c 0%, #52388c 100%);
color: #ffffff;
}


.x-docked-bottom .x-innerhtml{
 /*IE10 Consumer Preview  */
background-image: -ms-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

/* Mozilla Firefox  */
background-image: -moz-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

/* Opera  */
background-image: -o-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

 /*Webkit (Safari/Chrome 10)  */
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #52388c), color-stop(1, #52388c));

 /*Webkit (Chrome 11+)  */
background-image: -webkit-radial-gradient(center, circle farthest-side, #52388c 0%, #52388c 100%);

 /*W3C Markup, IE10 Release Preview  */
background-image: radial-gradient(circle farthest-side at center, #52388c 0%, #52388c 100%);
}

.x-list .x-list-item {
    color: #ffffff;
}

//.x-list-label{
//   color:#ffffff;
//}

.x-item-selected .x-list-label{
    color:#160034;
}
.x-select-overlay .x-item-selected.x-list-item::after {
    color: #160034;
}
.x-list .x-list-emptytext {
    color: #ffffff;
}

.x-list-normal .x-list-item.x-list-item-tpl , .x-list-normal .x-list-item .x-dock-horizontal{
border-top: 0px;
}

.x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap , .x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal{
border-bottom: 0px;
}

//.x-dataview-item{
//     color: #ffffff;
//}

.x-list .x-list-header {
    background-image: -webkit-linear-gradient(top, #a08eca,#a08eca,#a08eca);
    color: #160034;
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list {
    background-color: #52388c;
}
.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
    background-image: -webkit-linear-gradient(top, #a08eca,#a08eca 3%,#a08eca);
    color:#160034;
}

a:-webkit-any-link {
    color:  #ffffff;
    text-decoration: underline;
    cursor: auto;
}
.x-dock.x-sized, .x-dock.x-sized > .x-dock-body > *, .x-dock.x-sized > .x-dock-body > .x-body > .x-inner {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #EEEBF3;
    background-color: #52388c;
}

.labeltextcolor{
    color: #ffffff;
}

.x-fieldset{
    color:#ffffff;
}

.x-form-fieldset-instructions {
text-shadow: #fff 0 1px 1px;
color: #ffffff;
margin: 1em 0.7em 0.3em;
font-size: .8em;
}

.x-dock.x-stretched > .x-dock-body {
position: relative;
display: -webkit-box;
-webkit-box-flex: 1;
-webkit-box-orient: vertical;
min-height: 0;
min-width: 0;
color: white;
background-color: #52388c;
}

.x-list-normal .x-list-item.x-item-pressed.x-list-item-tpl, .x-list-normal .x-list-item.x-item-pressed .x-dock-horizontal {
   // border-top-color: #a08eca;
    background-color: #a08eca;
   // background-image: -webkit-linear-gradient(top, #a08eca,#a08eca 3%,#a08eca);
    color:#160034;
}

.x-list-normal .x-list-item.x-item-pressed.x-list-item-tpl, .x-list-normal .x-list-item.x-item-pressed .x-dock-horizontal {
   // border-top-color: #a08eca;
    background-color: #a08eca;
    //background-image: -webkit-linear-gradient(top, #a08eca,#a08eca 3%,#a08eca);
    color:#160034;
}
.background .x-scroll-container{
/*IE10 Consumer Preview  */
  background: transparent url("../images/n2nBg.png") center no-repeat;
  color:#ffffff;
  background-color: #52388c;
}
.menu{
  font-weight: bold;
  font-size: medium;
}
.x-title .x-innerhtml {
  overflow: visible;
}
.x-button-normal .x-badge{
  overflow: visible;
}
.tabletInnerTable{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:0px solid #eee;
  background:#fabe30 ;
  width:50%;
  border:0 solid #ccc;
/*font-size: 8pt;*/
}
.border{
  border-right: solid black;
}
.removeBorders{
  border-top: none !important;
  border-bottom: none !important; /* For the last row */
}

#tipsPopup {
  background-color: #4f3586;
}

#alertPopup {
  background-color: #4f3586;
}
#popup {
  background-color: #4f3586;
  height: 100px;
  position: relative;
  width: 100px;
}

#popup:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;

  border: 10px solid transparent;
  border-bottom-color: #4f3586;

  bottom: 100%;
  left: 15px;
}
.titleFont{
  font-size: 12pt;
}
.headerColor{
  font-size: 10pt;
  background:#C1D82F;
}
.innerTable{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border:0px solid #eee;
  background:#fabe30;
  padding: 5 5 5 5;
  width:80%;
  border:0 solid #ccc;
/*font-size: 8pt;*/
}
.outerTable{
  font-size: 10pt;
  width:100%;
}

.outerHead{
  font-weight: bold;
  font-size: 10pt;
}

.innerHead{
  text-align:center;
  font-weight: bold;
  font-size: 8pt;
}

.footer{
  text-align:right;
  font-size:small;

}
/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
  color: #2e4bc5;
}
.x-button-label {
  font-weight:normal
}
.x-toolbar .x-button .x-button-label, .x-toolbar .x-button .x-badge, .x-toolbar .x-button .x-hasbadge .x-badge, .x-hasbadge .x-toolbar .x-button .x-badge, .x-toolbar .x-button .x-hasbadge .x-badge {
    line-height: 1.5em;
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:1px;
    /*min-width: 1.2em;*/
    /*top: -0.8em;*/
}
.status{
  font-size: .9em;
  line-height: 1em;
  color: red;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 1px 2px #fff;
}
.searchfieldset{
  margin: 0 0 0em;
}

.x-toolbar-dark-alert{
  background: url("") !important;
}
.basefont{
  font-size: .8em
}

.x-loading-spinner {
  font-size: 1em;
}

.x-mask .x-mask-inner {
  font-weight: normal;
}
.x-button{
  border-radius: 0.1em;
}
.x-toolbar-dark .x-button{
  background-color: #d4d1cb;
  background-image: none;
  color: #000000;
}
.outerContainer {
  display: table;
  height: 40px; /* height of parent */
  overflow: hidden;
}
.outerContainer .innerContainer {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}
#drop .x-checkmark-base, .x-field .x-input-radio::after, .x-field .x-input-checkbox::after{
  position: absolute;
  left: auto;
  -webkit-transform-origin: 50% 50%;
  margin-top: -0.75em;
  -webkit-transform-origin-x: 50%;
  -webkit-transform-origin-y: 50%;
}

#drop .x-checkmark-base, .x-field .x-input-radio:checked::after, .x-field .x-input-checkbox:checked::after {
  position: absolute;
  left: auto;
  -webkit-transform-origin: 50% 50%;
  background-color: red;
  margin-top: -0.75em;
  -webkit-transform-origin-x: 50%;
  -webkit-transform-origin-y: 50%;
}
.icons a:link {
  color: #000;
  text-shadow: 0px 1px 2px #fff;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 1em;
}

#apMenuList{
  background-color:  #160034 !important;
}
.textOverflow{
  max-width: 150px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}
.codeTextSize{
  font-size: 2.2em;
  font-weight: bold;
}
.x-dataview-item{
  color: #ffffff;
}
.advSearch .x-field .x-field-input, .x-field .x-input-el {
width: 95%;
}

.subjectlist .x-dataview-item {
    margin-bottom: 8px;
    margin-left: 5px;
}

.x-innerhtml ul{
    float: left;
    margin: 0;
    padding: 0;
}

.x-innerhtml ul li{
    display: block;
    margin: 0 20% 0 0;
    padding: 0;
    width: 100%;
    min-height: 26px;
}

.fail{
    padding-top: 3px;
    background: url("../images/b_failicon.png") no-repeat;
    background-size: 32px 32px;
    padding-left:32px;
    height:32px;
}

.success{
    padding-top: 3px;
    background: url("../images/b_successfulicon.png") no-repeat;
    background-size: 32px 32px;
    padding-left:32px;
    height:32px;
}

.waitlist{
    padding-top: 3px;
    background: url("../images/b_waitlisticon.png") no-repeat;
    background-size: 32px 32px;
    padding-left:32px;
    height:32px;
}

.failMsg{
    color:#FF3F3F;
}

.successMsg{
    color:#09F10D;
}

.waitlistMsg{
    color: #6CA1FF;
}

.x-mask {
  .x-mask-inner {
      background: rgba(black, .4);
  }

  .x-mask-message {
      bottom: 1em;
      color: white;
  }

  &.x-has-message {
     .x-loading-spinner-outer {
          height: 7em;
      }
  }
}

.hideInput{
  -webkit-text-security: disc !important;
}
ul.bulletlist li{
list-style: disc inside;
}
ol.numberslist li{
list-style: decimal inside;
}

.strong{
   font-weight:bold;
}
strong{
font-style: normal;
font-weight: bold;
}
em {
font-style: italic;
font-weight: bold;
}