.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}
.background .x-scroll-container{
    /*IE10 Consumer Preview  */
    background: transparent url("../images/n2nBg.png") center no-repeat;
}

.logo .x-scroll-container{
    /*IE10 Consumer Preview  */
    /*background-image: url("../images/bg.png") !important;*/
    background-repeat: no-repeat !important;
}

.x-docked-bottom .x-innerhtml{
    /*background-image: url("../images/bg.png") !important;*/
    background-repeat: no-repeat !important;
}

.fontDown{
    padding: 5px;
    font-weight: bold;
}

.fontUp{
    padding: 5px;
    font-style:italic;
}

.touchgridpanel .x-grid-cell {
font-size      : .8em;
}
/* text drp shadow */
h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
    /*4 properties below are imp for trailing ellipsis*/
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.emptyText{
    height:250px; 
}

.menu{
    font-weight: bold;
    font-size: medium;
}
.x-title .x-innerhtml {
    overflow: visible;
    color: RED;
    text-shadow: rgba(0,0,0,0) 0 0 0 !important;
}
.x-button-normal .x-badge{ overflow: visible; }
.tabletInnerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee;
    background:#fabe30 ;
    width:50%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.border{
    border-right: solid black;
}
.removeBorders{
    border-top: none !important;
    border-bottom: none !important; /* For the last row */
}

#tipsPopup {
    background-color: #00317f;
}

#alertPopup {
    background-color: #006666;
}
#popup {
    background-color: #00317f;
    height: 100px;
    position: relative;
    width: 100px;
}

#popup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #00317f;

    bottom: 100%;
    left: 15px;
}

.titleFont{
    font-size: 12pt;
}

.x-select-overlay{
    min-width: 200px;
    min-height:0px;
    height: 250px;
}

.headerColor{
    font-size: 10pt;
    background:#C1D82F;
}

.innerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee;
    background:#fabe30;
    padding: 5 5 5 5;
    width:80%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.outerTable{
    font-size: 10pt;
    width:100%;
}

.outerHead{
    font-weight: bold;
    font-size: 10pt;
}

.innerHead{
    text-align:center;
    font-weight: bold;
    font-size: 8pt;
}

.footer{
    text-align:right;
    /*    font-style:italic;*/
    font-size:small;

}

/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
    color: #2e4bc5;
}

/*To set background image for toolbar button*/
/*#notificationBtn{*/
/*background-image: url(http://192.168.0.22:8060/sencha/resources/images/notifications.png) ;*/
/*color: #000000;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/


.x-button-label {
    color: white;
    font-weight:normal
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:4px;
    /*top: -0.8em;*/
}
/*.icons {
    font-size: .9em;
    line-height: 1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}*/

.status{
    font-size: .9em;
    line-height: 1em;
    color: red;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}

body,p {
    font-size: .8em;
    line-height: 1em;}

.back{
    background-image: url("../images/back.png") !important;
    background-repeat: no-repeat !important;
    width:10%;
}

/*#logoutBtn{
    background-image: url("../images/logout.png") !important;
    background-repeat: no-repeat !important;
    width:2.5%;
}

#notificationBtn{
    background-image: url("../images/menu/notification_white.png") !important;
    background-repeat: no-repeat !important;
    width:3.5%;
}*/

.searchfieldset{
    margin: 0 0 0em;
}

.x-toolbar-dark-alert{
    background: url("") !important;
}

.msgbox .x-toolbar-dark{
    /*background: black !important;*/
}

.basefont{
    font-size: .8em
}

.x-loading-spinner {
    font-size: 1em;
}

.x-mask .x-mask-inner {
    font-weight: normal;
}

.x-button{
    border-radius: 0.1em;
}

h2{
    font-size: .9em;
    font-weight: bold;
}

h3{
    font-size: .9em;
}

h4{
    font-size: .7em;
}

h5{
    font-size: .6em;
}

h6{
    font-size: .5em;
}
h7{
    font-size: .8em;
}
.due{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
}

.duetext{
    font-size: .8em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}

.icons {
    font-size: .9em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
    vertical-align: top;
}

.home{
    background-image: url("../images/home.png") !important;
    padding-left: 1.2em !important;
}

.down{
    background-image: url("../images/downarrow.png") !important;
    padding-left: 1.2em !important;
}

.calendar{
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}

.x-msgbox {
    background: #006666 !important;
}

.x-msgbox-text {
    text-align: center;
    line-height: 1.4em;
    color: white !important;
}

.x-tabbar.x-docked-top .x-tab {
    padding: 0.4em 0.2em;
    height: 1.8em;
    -webkit-border-radius: 0.9em;
    border-radius: 0.9em;
    min-width: 2.5em;
}

.outerContainer {
    display: table;
    height: 40px; /* height of parent */
    overflow: hidden;
}
.outerContainer .innerContainer {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

.edit{
    background-image: url("../images/edit.png") !important;
    padding-left: 1.2em !important;
}
#apMenuList{
    background-color: #006666 !important;
}

.mapfilter.x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 0 !important;
    padding-left: 10px !important
}

#mapsPopup {
    background-color: #00317f;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    color:#FFFFFF;
    max-width: 180px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 15px;
}

.x-form-label span{
    font-size: .85em;
}
.textOverflow{
    max-width: 150px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_320_460.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_460_320.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.some{
    font-size: 0.8em;
    line-height: 0.7em;
}

.apMenuList .x-list-normal .x-list-item.x-list-item-tpl, .apMenuList .x-list-normal .x-list-item .x-dock-horizontal {
border-top: none;
border-bottom: 1px solid darkgray;
}

.apMenuList .x-list-normal .x-list-item.x-list-item-tpl.x-list-footer-wrap, .apMenuList .x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
    border-bottom: 1px solid darkgray;
}

.x-btn.x-btn-my-pressed {
    background: red;
}