.calendar {
    background-image:url(../images/calendar.png)!important;
    padding-left:1.2em!important;
}
.due {
    color:#fff;
    font-size:.8em;
    font-weight:700;
}
.duetext {
    color:maroon;
    font-size:.8em;
    font-weight:700;
    vertical-align:super;
}
.icons {
    color:#fff;
    display:inline-block;
    font-size:.9em;
    line-height:1em;
    padding-bottom:30px;
    text-shadow:0 1px 2px #000;
    vertical-align:top;
}
.mainModules {
    color:#95a1aa;
    display:inline-block;
    font-size:15px;
    height:19px;
    max-width:180px;
    overflow:hidden;
    padding-left:5px;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.touchgridpanel .x-grid-cell, .basefont, h7 {
    font-size:.8em;
}
.x-dataview-item {
    color:#000;
}
.x-docked-bottom .x-innerhtml, .x-list .x-list-item {
    color:#fff;
}
.x-form-label span {
    font-size:.85em;
}
.x-loading-spinner {
    font-size:1em;
}
.x-select-overlay {
    height:250px;
    min-height:0;
    min-width:200px;
}
.x-select-overlay .x-list-label {
    color:#000;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
body, p {
    color:#fff;
    font-size:.8em;
    line-height:1em;
}

.x-toolbar-light {
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    background-image: -moz-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    background-image: -o-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    border-color: #000;
}

.x-toolbar-dark {
   background-image: -webkit-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   background-image: -moz-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   background-image: -o-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   border-color: #000;
}

h1 {
    -moz-background-clip:text;
    -webkit-background-clip:text;
    background-clip:text;
    color:#000;
    font-size:16px;
    line-height:2em;
    max-width:180px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*text-shadow:1px 1px 2px #000;*/
    white-space:nowrap;
}
h2 {
    color:#fff;
    font-size:.9em;
    font-weight:700;
}
h3 {
    color:#fff;
    font-size:.9em;
}
h4 {
    color:#fff;
    font-size:.7em;
    text-shadow:0 1px 2px #000;
}
h5 {
    color:#fff;
    font-size:.6em;
}
h6 {
    color:#fff;
    font-size:.5em;
}

.imageWidth {
    width: 300px;
}
