.basefont {
    font-size:.8em;
}
.crstitle {
    max-width:160px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.due {
    color:#fff;
    font-size:1em;
    font-weight:700;
}
.duetext {
    color:maroon;
    font-size:1em;
    font-weight:700;
    vertical-align:super;
}
.icons {
    color:#fff;
    display:inline-block;
    font-size:1.2em;
    line-height:1em;
    padding-bottom:30px;
    text-shadow:0 1px 2px #000;
}
.mainModules {
    color:#95a1aa;
    display:inline-block;
    font-size:18px;
    height:22px;
    max-width:180px;
    overflow:hidden;
    padding-left:5px;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.touchgridpanel .x-grid-cell, .x-loading-spinner, .x-form-label span {
    font-size:1em;
}
.x-select-overlay {
    font-size:14px;
    height:400px;
    min-height:0;
    min-width:300px;
}
.x-select-overlay .x-item-selected .x-list-label, .x-docked-bottom .x-innerhtml, .x-list .x-list-item {
    color:#fff;
}
.x-select-overlay .x-list-label {
    color:#000;
    display:block;
    font-size:1em;
    line-height:1.5em;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.x-toolbar-light {
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    background-image: -moz-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    background-image: -o-gradient(linear, center top, center bottom, from(#ffffff), to(#e6e6e6));
    border-color: #000;
}

.x-toolbar-dark {
   background-image: -webkit-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   background-image: -moz-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   background-image: -o-gradient(linear, center top, center bottom, from(#008852), to(#00583d));
   border-color: #000;
}

body, p {
    color:#fff;
    font-size:1em;
    line-height:1em;
}
h1 {
    -moz-background-clip:text;
    -webkit-background-clip:text;
    background-clip:text;
    color:#000;
    font-size:20px;
    /*text-shadow:1px 1px 2px #000;*/
}
h2 {
    color:#fff;
    font-size:1.2em;
    font-weight:700;
}
h3 {
    color:#fff;
    font-size:1.2em;
}
h4 {
    color:#fff;
    font-size:.9em;
    text-shadow:0 1px 2px #000;
}
h5 {
    color:#fff;
    font-size:.8em;
}
h6 {
    color:#fff;
    font-size:.7em;
}
h7 {
    font-size:1em;
    line-height:1.3em;
}
table {
    border-spacing:3px;
}
th, td {
    padding:3px;
}

.imageWidth {
    width: 700px;
}