$base-color:#FFFFFF;
$base-gradient: 'flat';


/* tab panel*/
$tab-height: 28px !default; 
$tab-background-gradient: color-stops(#FF9200, #FF9200, #FF9200);
$tab-background-gradient-active: color-stops(#3A9CCC, #3A9CCC, #3A9CCC);
$tab-background-gradient-over: #ffffff;
$tabbar-base-color:#FFFFFF;
$tabbar-border-color:#FFFFFF;

/* panel */
$panel-border-color: #808080;

/* grid panel*/
$grid-header-color: #FFFFFF;
$grid-header-background-gradient: color-stops(#808080, #5a5a5a, #4d4d4d);
$grid-header-over-border-color: #277bae;
$panel-header-background-color: #FFFFFF;
$panel-header-color: #000000;
$panel-header-padding: 5px;


/* button */
$button-inner-border-color : #00FF00;
$button-default-base-color: #3A9CCC;
$button-default-base-color-over: #3A9CCC;
$button-default-border-color: #121212;
$button-default-base-color-pressed: #3A9CCC;
$button-default-color:#ffffff;


/* toolbar */
/* $toolbar-background-color:#5882FA;
$button-toolbar-background-color: #808080;*/
$button-toolbar-background-color-over: #277bae;
$button-toolbar-background-color-pressed: #277bae;
$button-toolbar-color: #ffffff; 

.x-toolbar .x-toolbar-item {
margin: 0 2px 0 0;
background-color: gray;
background-color-pressed: #2c1402;
}

/* window */
$window-header-background-gradient: color-stops(#98C082, #558233,#558233);    
$window-background-color: #808080;
$window-header-color: #FFFFFF;
$window-header-height: 40px; 


@import 'compass';
@import 'ext4/default/all';

@include extjs-button;
@include extjs-datepicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
@include extjs-panel;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-viewport;

@include extjs-panel-ui(
    'bubble',

    $ui-body-background-color: #FDFFFF,
    $ui-body-font-size: 14px
);

/* header background */
.header .x-panel-body{
    padding : '5 0 5 0';
    background-color: #24272F;
}

/* main title */
.headerTitle {
    font: bold 22px arial !important;
    color: #000000;
}

/* login header background */
.loginHeader .x-panel-body{
    padding : 5px;
    background-color: #FF9200;
}

/* login title */
.loginTitle {
    font: normal 20px arial !important;
    color: #FFFFFF;
}

/* Detail view title */
.subTitlelabel {
    font: normal 25px courier;
    color: #709C52;
    font-weight: bold;
}

/* link label */
.linkLabel {
    font: normal 15px Typotheticals Whinter;
    color: #3B5998;
}

/* normal label */
.normalLabel {
    font: normal 15px arial;
    color: #000000;
}

/* bold label */
.boldLabel {
    font: bold 15px arial;
    color: #000000;
    font-weight: bold;
}

/* logout label */
.logoutLabel {
    font: normal 12px courier !important;
    color: #5a5a5a;
}

/* welcome label */
.welcomeLabel {
    font: bold 12px courier !important;
    color: #FFFFFF;
}


/* header label */
.headerLabel {
    font: normal 30px courier !important;
    color: #FFFFFF;
}

/*tab panel text css*/
.mainPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

/*Grid text panel*/
.list .x-column-header-inner {
position: relative;
text-align: left;
line-height: 15px;
font-weight: normal;
}

.x-tab button {
font-size: 11px;
font-weight: normal;
font-family: tahoma, arial, verdana, sans-serif;
color: #FFFFFF;
}

/* panelBody label */
.x-panel-body-default {
background: white;
border-color: black;
color: black;
border-width: 1px;
border-style: solid;
}

.x-menu-item {
overflow: hidden;
z-index: 1;
background-color: gray;
}

.x-menu-item-active .x-menu-item-link {
background-image: none;
background-color: #277bae;
}





