$base-color:#CCCCCC;
$base-gradient: 'flat';


/* tab panel*/
$tab-height: 28px !default; 
$tab-background-gradient: color-stops(#8DB777, #709C52, #558231);
$tab-background-gradient-active: color-stops(#faa51a, #f47a20, #f47a20);
$tab-background-gradient-over: #2F431F;
$tabbar-base-color:#FFFFFF;
$tabbar-border-color:#FFFFFF;

/* panel */
$panel-border-color: #8DB777;

/* grid panel*/
$grid-header-color: #FFFFFF;
$grid-header-background-gradient: color-stops(#98C082, #558233,#558233);
$grid-header-over-border-color: #f47a20 ;
$panel-header-background-color: #FFFFFF;
$panel-header-color: #000000;
$panel-header-padding: 5px;


/* button */
$button-inner-border-color : #00FF00;
$button-default-base-color: #5B7646;
$button-default-base-color-over: #739B4D;
$button-default-border-color: #121212;
$button-default-base-color-pressed: #739B4D;
$button-default-color:#ffffff;


/* toolbar */
/*$toolbar-background-color:#5882FA;
$button-toolbar-background-color: #6E6E6E;
$button-toolbar-background-gradient-over: color-stops(#1a1a1a,#1c1c1c);
$button-toolbar-background-color-pressed: #F6CEEC;
$button-toolbar-color: #ffffff;   */

/* window */
$window-header-background-gradient: color-stops(#98C082, #558233,#558233);    
$window-background-color: #8DB777;
$window-header-color: #FFFFFF;
$window-header-height: 40px; 


@import 'compass';
@import 'ext4/default/all';

@include extjs-button;
@include extjs-datepicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
@include extjs-panel;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-viewport;

@include extjs-panel-ui(
    'bubble',

    $ui-body-background-color: #FDFFFF,
    $ui-body-font-size: 14px
);

/* header background */
.header .x-panel-body{
    padding : '5 0 5 0';
    background-color: #24272F;
}

/* main title */
.headerTitle {
    font: bold 20px arial !important;
    color: #067535;
}

/* login header background */
.loginHeader .x-panel-body{
    padding : 5px;
    background-color: #5B7646;
}

/* login title */
.loginTitle {
    font: normal 20px arial !important;
    color: #FFFFFF;
}

/* Detail view title */
.subTitlelabel {
    font: normal 25px courier;
    color: #709C52;
    font-weight: bold;
}

/* link label */
.linkLabel {
    font: normal 15px Typotheticals Whinter;
    color: #3B5998;
}

/* normal label */
.normalLabel {
    font: normal 15px arial;
    color: #000000;
}

/* bold label */
.boldLabel {
    font: bold 15px arial;
    color: #000000;
    font-weight: bold;
}

/* logout label */
.logoutLabel {
    font: normal 12px courier !important;
    color: #FFFFFF;
}

/* welcome label */
.welcomeLabel {
    font: bold 12px courier !important;
    color: #FFFFFF;
}


/* header label */
.headerLabel {
    font: normal 30px courier !important;
    color: #FFFFFF;
}

/*tab panel text css*/
.mainPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    color: white;
    text-align: center;
    font-family: arial;
    font-weight: bold;
}

/*Grid text panel*/
.list .x-column-header-inner {
position: relative;
text-align: left;
line-height: 15px;
}

/* panelBody label */
.x-panel-body-default {
background: white;
border-color: black;
color: black;
border-width: 1px;
border-style: solid;
}

.x-column-header {
color: white;
font: normal 11px Verdana;
}

.x-tab button .x-tab-inner {
font: normal 13px Verdana;
color: white;
font-weight: normal;
}
.x-body {
color: #0B0C0B;
font-size: 12px;
font-family: arial;
}



