$base-color:#6dacdb;
$base-gradient: 'flat';


/* tab panel*/
$tab-height: 28px !default; 
$tab-background-gradient: color-stops(#4F4A73, #4F4A73, #4F4A73);
$tab-background-gradient-active: color-stops(#F5C43E, #F5C43E, #F5C43E);
$tab-background-gradient-over: #4F4A73;
$tabbar-base-color:#FFFFFF;


/* panel */
$panel-border-color: #002E77;


/* grid panel*/
$grid-header-color: #FFFFFF;
$grid-header-background-gradient: color-stops(#4F4A73, #4F4A73,#4F4A73);
$grid-header-over-border-color: #F5C43E;
$panel-header-background-color: #FFFFFF;
$panel-header-color: #002E77;
$panel-header-padding: 5px;


/* button */
$button-inner-border-color : #4F4A73;
$button-default-base-color: #52388c;
$button-default-base-color-over: #52388c;
$button-default-border-color: #FFFFFF;
$button-default-base-color-pressed: #F5C43E;
$button-default-border-color-pressed: #52388c;
$button-default-color:#FFFFFF;


/* toolbar */
$toolbar-background-color:#CFD9E7;

/* window */
$window-header-background-gradient: color-stops(#4F4A73, #4F4A73,#4F4A73);    
$window-background-color: #6c3cc2;
$window-header-color: #F5C43E;
$window-header-height: 50px; 
$window-default-border-color: #F5C43E;


@import 'compass';
@import 'ext4/default/all';

@include extjs-button;
@include extjs-datepicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
@include extjs-panel;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-viewport;

@include extjs-panel-ui(
    'bubble',

    $ui-body-background-color: #EEEEEE,
    $ui-body-font-size: 14px
);

/* header background */
.header .x-panel-body{
    padding : '5 0 5 0';
    background-color: #0072C6;
}

/* main title */
.headerTitle {
    font: normal 20px courier !important;
    color: #F5C43E;
}

/* login header background */
.loginHeader .x-panel-body{
    padding : 5px;
    background-color: #002E77;
}

/* login title */
.loginTitle {
    font: normal 20px courier !important;
    color: #FFFFFF;
}

/* Detail view title */
.subTitlelabel {
    font: normal 25px Verdana;
    color: #0072C6;
    font-weight: bold;
}

/* link label */
.linkLabel {
    font: normal 15px Times New Roman;
    color: #0347D5;
}

/* normal label */
.normalLabel {
    font: normal 15px arial;
    color: #454545;
}

/* bold label */
.boldLabel {
    font: bold 15px arial;
    color: #454545;
    font-weight: bold;
}

/* logout label */
.logoutLabel {
    font: normal 15px courier !important;
    color: #FFFFFF;
}

/* header label */
.headerLabel {
    font: normal 30px courier !important;
    color: #FFFFFF;
}

.x-form-display-field {
padding-top: 3px;
 color: #FFFFFF;
}

/*tab panel text css*/
.mainPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    color:  #FFFFFF;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    font-family: arial;
}

/*Grid text panel*/
.list .x-column-header-inner {
    font-family: arial;
    position: relative;
    text-align: left;
    line-height: 15px;
}

.x-menu-item {
overflow: hidden;
z-index: 1;
background-color: #4F4A73;
}

.x-menu-item-active .x-menu-item-link {
background-image: none;
background-color:#F5C43E;
}

.x-btn-default-small-over {
border-color-right: rgb(240, 242, 247);  
border-color-left: rgb(240, 242, 247);  
border-color-bottom: rgb(240, 242, 247);  
border-color-top: rgb(240, 242, 247);  
background-color: #002e77;              
            }
.x-menu-item-text {
font-size: 11px;
color: #FFFFFF;
}
.x-tab button {
font-size: 11px;
font-weight: normal;
font-family: arial;
color: #FFFFFF;
}

.x-panel-default-framed {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
padding: 4px 4px 4px 4px;
border-width: 1px;
border-style: solid;
background-color: #002E77;
}

.x-boundlist-selected {
background: #002E77;
border-color: #000000;
}

.grid {
background: #000000;
border-color: #000000;
}

.x-mask {
z-index: 100;
position: absolute;
top: 0;
left: 0;
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
opacity: 0.5;
width: 100%;
height: 100%;
zoom: 1;
background: #ffffff;
}

.x-border-box .x-tab-default-top {
height: 29px;
border-color:white;
}

.x-border-box .x-tab-bar-top .x-tab-bar-body {
height: 33px;
border-top: rgb(245, 243, 243);
border-bottom: white;
}

.x-panel-header-horizontal .x-panel-header-body{
background-color: #4F4A73;
}

.x-tab{
background-color: #929395;
}
.x-panel-header-text .x-panel-header-text-default{
font-color:red;
}

