back.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}

/* text drp shadow */
h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
    /*4 properties below are imp for trailing ellipsis*/
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;          
}
.touchgridpanel .x-grid-cell {
font-size      : .8em;
}

.x-select-overlay{
    min-width: 200px; 
    min-height:0px;
    height: 250px;
}

body,p {
    font-size: .8em;
    line-height: 1em;}

/*.back{*/
    /*background-image: url("../images/back.png") !important;*/
    /*background-repeat: no-repeat !important;*/
    /*width:10%;*/
/*}*/

.msgbox .x-toolbar-dark{
    /*background: black !important;*/
}

h2{
    font-size: .9em;
    font-weight: bold;
}

h3{
    font-size: .9em;
}

h4{
    font-size: .7em;
}

h5{
    font-size: .6em;
}

h6{
    font-size: .5em;
}

h7{
    font-size: .8em;
}

.due{
    font-size: .8em;
    color:  #FAF113;
    font-weight: bold;
}
.duetext{
    font-size: .8em;
    color:  #FAF113;
    font-weight: bold;
    vertical-align: super;
}
.icons {
    font-size: .9em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
    vertical-align: top;
}

.calendar{
    background-image: url("../images/calendar.png") !important;
    background-color: transparent;
    background-position-x:center;
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    padding-left: 1.2em !important;
}

.mainModules{
    display: inline-block; 
    padding-left: 5px;
    max-width: 180px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    height:19px;   
    font-size: 15px;
}

.x-form-label span{
    font-size: .85em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_320_460.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    .dashboardBackground {
        background-image:url('../images/dashboard/app_bg_460_320.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.getDirections{
    font-size: .9em;
}

.x-picker-slot .x-dataview-item {
/*    height: 2.5em;
    line-height: 2.5em;
    font-weight: bold;
    padding: 0 10px;*/
    color: white;
    background-color: #52388c;
}

.x-picker-slot .x-scroll-view:first-child {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #52388c;
}
.imageWidth {
    width: 300px;
}
