/* text drp shadow */
 h1 {
    font-size: 2em !important;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
​ .touchgridpanel .x-grid-cell {
    font-size : 1.2em;
}
.x-select-overlay {
    font-size: 14px;
    min-width: 300px;
    min-height:0px;
    height: 400px;
}
.settings {
    background-size: 42px 42px;
    background-image:url(../images/menu/settings.png) !important;
    background-repeat:no-repeat !important;
    background-position:cover;
    margin-left:38px;
    width:42px;
    height:42px
}
h2 {
    font-family:"Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: 1.2em;
    font-weight:bold;
}
h3 {
    font-family:"Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: 1.2em;
}
h4 {
    font-size: 0.8em;
    font-weight: bold;
    font-family:"Lato";
    color: #4D5562;
}
h5 {
    font-size: 0.6em;
    font-weight: bold;
    font-family:"Lato";
    color: #4D5562;
}
h6 {
    font-size: 0.5em;
    font-weight: bold;
    font-family:"Lato";
    color: #4D5562;
}
h7 {
    font-size: 1em;
    font-weight: bold;
    font-family:"Lato";
    color: #4D5562;
}

#loginPopup h7{
    color: white;
}

.due {
    font-size: 1em;
    color: #800000;
    font-weight: bold;
}
.duetext {
    font-size: 1em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}
.icons {
    font-size: 2em !important;
    line-height: 1em;
    text-shadow: 0px 0px 0px 0;
    display: inline-block;
    padding-bottom: 60px;
    font-family:"Lato";
    font-weight: normal;
}
.icons-pressed {
    background-color:#9ABFE2;
    width:100px;
    height:100px;
}

.bevelcontainer {
background-color:#EEE;
padding-top:64px;
padding-left:10px;
padding-right:10px;
border-radius:15px;
-webkit-mask-image:radial-gradient(98px at top center,transparent 0,transparent 62px,black 0px);
margin:120px 10px 10px
}
.mainModules {
    display: inline-block;
    padding-left: 5px;
    color:#95a1aa;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height:22px;
    font-size: 18px;
   font-family:"Lato";
}
.x-form-label span {
    font-size: 1em;
}
/* Portrait */
 @media screen and (orientation:portrait) {
    .custombackground {
        background-image:url('../images/dashboard/app_bg_768_1004.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
/* Landscape */
 @media screen and (orientation:landscape) {
    .custombackground {
        background-image:url('../images/dashboard/app_bg_1004_768.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
}
.x-toolbar.x-docked-bottom > .x-toolbar-inner > .x-button {
    font-size: 1.4em !important;
    background-image: none !important;
    border: none !important;
    background-color:#233C4F;
    opacity:1.0;
    text-shadow: 0px 0px 0px 0;
    color: white;
}
.x-button.x-button-action,.x-button {
   font-size: 1em !important;
   background-color:#233C4F;
   background-image:none;
   border: none !important;
   color:#fff;
   text-shadow: 0px 0px 0px 0;
}

.x-hasbadge .x-badge {
-webkit-border-radius:3em;
border-radius:3em;
padding:.1em;
font-weight:700
}

.notif {
background-image:url(../images/menu/notification_white.png)!important;
background-repeat:no-repeat!important;
background-position:cover;
background-size: 42px 42px;
width:42px;
height:42px;
}

.login {
background-size: 42px 42px;
background-image:url(../images/menu/login.png) !important;
background-repeat:no-repeat !important;
background-position:cover;
margin-left:38px;
width:42px;
height:42px
}

.logout {
background-size: 42px 42px;
background-image:url(../images/menu/logout.png) !important;
background-repeat:no-repeat !important;
background-position:cover;
margin-left:33px;
margin-right:5px;
width:42px;
height:42px
}

.notifbutton {
    background: none !important;
    border: none !important;
    width: 70px;
}
.esummaryimg
{
background-image:url(../images/menu/summary.png) !important;
background-repeat:no-repeat !important;
width:32px;
height:32px;
background-size:32px 32px;
}
.messagesimg
{
background-image:url(../images/menu/recieve1.png) !important;
background-repeat:no-repeat !important;
width:32px;
height:32px;
background-size:32px 32px;
}
