// Let's start with the basics

$base-color: #008609;
$active-color: #a60c00;

$list_pressed_color: #a60c00;

@import 'sencha-touch/default/all';


@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-carousel;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

@include sencha-button-ui('action', #a60c00, 'glossy');
@include sencha-button-ui('normal', #a60c00, 'glossy');
@include sencha-button-ui('button', #a60c00, 'glossy');