.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}

.logo .x-scroll-container{
 /*IE10 Consumer Preview  */
 /*background-image: url("../images/bg.png") !important;*/
    background-repeat: no-repeat !important;
}

.x-docked-bottom .x-innerhtml{
    /*background-image: url("../images/bg.png") !important;*/
    background-repeat: no-repeat !important;
}


/* text drp shadow */

.menu{
    font-weight: bold;
    font-size: medium;    
}
.x-title .x-innerhtml { overflow: visible; }
.x-button-normal .x-badge{ overflow: visible; }
.tabletInnerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30 ;
    width:50%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.border{
    border-right: solid black;
}
.removeBorders{
    border-top: none !important;
    border-bottom: none !important; /* For the last row */
}

#tipsPopup {
    background-color: #00317f;
}

#alertPopup {
    background-color: #00317f;
}
#popup {
    background-color: #00317f;
    height: 100px;
    position: relative;
    width: 100px;
}

#popup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #00317f;

    bottom: 100%;
    left: 15px;
}

.titleFont{
    font-size: 12pt;
}

.x-select-overlay{
    min-width: 200px; 
    min-height:0px;
    height: 250px;
} 


.innerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30;
    padding: 5 5 5 5;
    width:80%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.outerTable{
    font-size: 10pt;
    width:100%;
}

.outerHead{
    font-weight: bold;
    font-size: 10pt;
}

.innerHead{
    text-align:center;
    font-weight: bold;
    font-size: 8pt;
}

.footer{
    text-align:right;
/*    font-style:italic;*/
    font-size:small;
    
}

/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
    color: #2e4bc5;
}  

/*To set background image for toolbar button*/
/*#notificationBtn{*/
/*background-image: url(http://192.168.0.22:8060/sencha/resources/images/notifications.png) ;*/
/*color: #000000;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/


.x-button-label { 
    font-weight:normal
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:4px;
    /*top: -0.8em;*/
}
/*.icons {
    font-size: .9em;
    line-height: 1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}*/

.status{
    font-size: .9em;
    line-height: 1em;
    color: red;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}

body,p {
    font-size: .8em;
    line-height: 1em;}


/*#logoutBtn{
    background-image: url("../images/logout.png") !important;
    background-repeat: no-repeat !important;
    width:2.5%;
}

#notificationBtn{
    background-image: url("../images/menu/notification_white.png") !important;
    background-repeat: no-repeat !important;
    width:3.5%;
}*/

.searchfieldset{
	margin: 0 0 0em;
}

.x-toolbar-dark-alert{
	background: url("") !important;
}

.msgbox .x-toolbar-dark{
    /*background: white !important;*/
}

.basefont{
	font-size: .8em
}

.x-loading-spinner {
	font-size: 1em;
}

.x-mask .x-mask-inner {
	font-weight: normal;
}

.x-button{
	border-radius: 0.1em;
}

h2{
    font-size: .8em;
    font-weight: bold;
}

h3{
    font-size: .8em;
}

h4{
    font-size: .7em;
}

h5{
    font-size: .6em;
}

h6{
    font-size: .5em;
}
.icons {
    font-size: 1.2em;
    line-height: 1.3em;
    color: white;
    text-align: center;
    margin: 0 auto;
    /*text-shadow: 0px 1px 2px #fff;*/
    width: 90px;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 5px;
}


.calendar{
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}


.x-toolbar .x-button {
    margin: 0 !important;
}

.x-title {
	line-height: 1em;
}

.usgbackground .x-scroll-container{
    /*IE10 Consumer Preview  */
    background: transparent url("../images/usobg.png");
    background-repeat:no-repeat;
    background-position:center;
    /*background-attachment:fixed;*/
    background-size:cover;
}

.temp{
    color: #ffffff;
    font-size: 30px;
    src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('OpenSans-Regular.woff') format('woff'),
    url('OpenSans-Regular.ttf') format('truetype');
}

h1 {
    font-size: 26px;
  color: #0441BD;
   font-weight: 400;
  /*text-shadow: 1px 1px 2px rgba(0,0,0,.4);*/
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  /*4 properties below are imp for trailing ellipsis*/
/*  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;          */
}



.back{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHCSURBVHjaYvz//z/DQAKAAGJiGGAAEEAD7gCAABpwBwAE0IA7ACCABtwBAAFEngNmmfQC8R8gbqTUAQABxEhyNpxlMg1IZiKJdDCknakk1wEAAcREoeUgUAEULyXXAQABxESh5TAQRK4DAAKIiQqWfwbiheQ6ACCAmKhgeQcQryTXAQABxESB5V+BuAuIZwAT4XtyHQAQQLhzAX7LQeAAEG+COoQQ+A4OpbQzv9AlAAKIhUzLQcABiokFktAQQwEAAcREpuXkAGNsggABxIRmeSaNLAcBNmyCAAGEHgLHgPgiPesCgABCd8BlIK6mkSPYsQkCBBBqIkw78w8YDduhvFYg1sdjIMixH4i0/B8QL8UmARBAmLmAeEcIA3EDEL8mwgGgvH4JmwRAAOErB0DR40nAEbeB2BHo6KfkxgtAAOEuCUEhwcCwnUCaUAXi/UDHSpDrAIAAwl8UE++IReQ6ACCACFdGxDniI7kOAAgg4qpj/I44BcR95DoAIICIb5Bgd8QpKP8EuQ4ACCBy2oQgR7sCsSm05NwPdBzZ/TuAAGIAOYAsPNOYj2y9SBgggBgHunMKEEAD3jEBCKABdwBAgAEAsBHT2/gsu6cAAAAASUVORK5CYII=") !important;
    background-repeat: no-repeat !important;
    width:10%;
}
.home{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHySURBVHjaYvz//z/DQAKAAGJiGGAAEEAD7gCAABpwBwAEEGUO+PHhPxhTAAACiIVsnd/f/WfYkABhByz4z8ApxAhm//z8n+HvD4g4MwcDAzsvIz5jAAKIkaxcALJ8UwrD87ef74O4ksK8igx+cxjAjtiU+p/hxXmIOgVHBga3brwOAAggJrItf/3hvqScsiIIg9ggMYbPz/8zfLhPknEAAcREtuXyyopgnwIxiA12xLpoBoZfn0kyEiCAmMi2/OUlBoZ/fyEYyAY74jPDfQZWbgYGJmaijQUIICaKLIcBChwBEEBMFFuOzxFERAdAADFRxXJcjvj6CmIGHgAQQExUsxybI2C5A48jAAIIuwN+ff3PcLyX4fnHP6RZjs0RQDNAZoHNxAIAAghrQcTIyJgGov8fbp3JcGMjquUcAgwMAooQGrVYZgCXASAa7j1gQtTwZ2C0rU4Hm/f//yx0uwACCGtRDFe4q3Qmhs+BljP6z0nHqm9jykx4KQgLiW/vsVoMAwABRHpdAPQ5TgNBDiYRAATQgFfHAAE04A4ACKABdwBAAA24AwACaMAdABBAA+4AgAAacAcABBD+ckDSkDgxctUDAUAA4W0TwopknCUlhepBACCAGAe6awYQQAOeBgACaMAdABBAA+4AgAAacAcABBgAs34Jo1Jnt/cAAAAASUVORK5CYII=") !important;
    padding-left: 1.2em !important;
}
.down{
    background-image: url("../images/downarrow.png") !important;
    padding-left: 1.2em !important;
}

.background .x-scroll-container{
    /*IE10 Consumer Preview  */
    background: transparent url("../images/n2nBg.png") center no-repeat;
}