.splash .x-img {
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: center;
}
.background .x-scroll-container{
    /*IE10 Consumer Preview  */
    background: transparent url("../images/n2nBg.png") center no-repeat;
}

.logo .x-scroll-container{
 /*IE10 Consumer Preview  */
background-image: -ms-radial-gradient(center, circle farthest-side, #ffffff 0%, #ffffff 100%);

 /*Mozilla Firefox  */
background-image: -moz-radial-gradient(center, circle farthest-side, #ffffff 0%, #ffffff 100%);

 /*Opera  */
background-image: -o-radial-gradient(center, circle farthest-side, #ffffff 0%, #ffffff 100%);

/* Webkit (Safari/Chrome 10)  */
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #ffffff), color-stop(1, #ffffff));

/* Webkit (Chrome 11+)  */
background-image: -webkit-radial-gradient(center, circle farthest-side, #ffffff 0%, #ffffff 100%);

 /*W3C Markup, IE10 Release Preview  */
background-image: radial-gradient(circle farthest-side at center, #ffffff 0%, #ffffff 100%);
}


.x-docked-bottom .x-innerhtml{
 /*IE10 Consumer Preview  */
background-image: -ms-radial-gradient(center, circle farthest-side, #FDE5AD 0%, #F9B81D 100%);

/* Mozilla Firefox  */
background-image: -moz-radial-gradient(center, circle farthest-side, #FDE5AD 0%, #F9B81D 100%);

/* Opera  */
background-image: -o-radial-gradient(center, circle farthest-side, #FDE5AD 0%, #F9B81D 100%);

 /*Webkit (Safari/Chrome 10)  */
background-image: -webkit-gradient(radial, center center, 0, center center, 487, color-stop(0, #FDE5AD), color-stop(1, #F9B81D));

 /*Webkit (Chrome 11+)  */
background-image: -webkit-radial-gradient(center, circle farthest-side, #FDE5AD 0%, #F9B81D 100%);

 /*W3C Markup, IE10 Release Preview  */
background-image: radial-gradient(circle farthest-side at center, #FDE5AD 0%, #F9B81D 100%);    
}

.x-toolbar-dark{
    background: #e6e6e6 !important;
}
/*.x-toolbar-dark{*/
/*background: url("../images/menu/footerbg.png") !important;*/
/*background-repeat: repeat-x ;*/
/*}*/

.x-toolbar-light{
    background:  #0038a8 !important;
}
/*.x-toolbar-light{*/
/*background: url("../images/menu/headerbg.png") !important;*/
/*background-repeat: repeat-x ;*/
/*}*/

/* text drp shadow */
h1 {
    font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.8);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}​

.menu{
    font-weight: bold;
    font-size: medium;    
}
.x-title .x-innerhtml { overflow: visible; }
.x-button-normal .x-badge{ overflow: visible; }
.tabletInnerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30 ;
    width:50%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.border{
    border-right: solid black;
}
.removeBorders{
    border-top: none !important;
    border-bottom: none !important; /* For the last row */
}

#tipsPopup {
    background-color: #0038a8;
}

#alertPopup {
    background-color: #0038a8;
}
#popup {
    background-color: #0038a8;
    height: 100px;
    position: relative;
    width: 100px;
}

#enquirePopup{
    background-color: #0038a8;
    height: 100px;
    position: relative;
    width: 100px;
}
#enquirePopup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #0038a8;

    bottom: 100%;
    left: 15px;
}

#enroutePopup{
    background-color: #0038a8;
    height: 100px;
    position: relative;
    width: 100px;
}
#enroutePopup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #0038a8;

    bottom: 100%;
    left: 15px;
}

#popup:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;

    border: 10px solid transparent;
    border-bottom-color: #0038a8;

    bottom: 100%;
    left: 15px;
}

.titleFont{
    font-size: 12pt;
}

.x-select-overlay{
    min-width: 200px; 
    min-height:0px;
    height: 250px;
} 

.headerColor{
    font-size: 10pt;
    background:#C1D82F;
}

.innerTable{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border:0px solid #eee; 
    background:#fabe30;
    padding: 5 5 5 5;
    width:80%;
    border:0 solid #ccc;
    /*font-size: 8pt;*/
}

.outerTable{
    font-size: 10pt;
    width:100%;
}

.outerHead{
    font-weight: bold;
    font-size: 10pt;
}

.innerHead{
    text-align:center;
    font-weight: bold;
    font-size: 8pt;
}

.footer{
    text-align:right;
/*    font-style:italic;*/
    font-size:small;
    
}

/*cellpdding*/
th, td {padding:3px;}
/*cellspacing*/
table{border-spacing:3px;}

.customField input::-webkit-input-placeholder {
    color: #2e4bc5;
}  

/*To set background image for toolbar button*/
/*#notificationBtn{*/
/*background-image: url(http://192.168.0.22:8060/sencha/resources/images/notifications.png) ;*/
/*color: #000000;*/
/*background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
/*}*/


.x-button-label { 
    font-weight:normal
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight:bold;
    margin-top:4px;
    /*top: -0.8em;*/
}
/*.icons {
    font-size: .9em;
    line-height: 1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}*/

.status{
    font-size: .9em;
    line-height: 1em;
    color: red;
    text-align: center;
    margin: 0 auto;
    text-shadow: 0px 1px 2px #fff;
}

body,p {
    font-size: .8em;
    line-height: 1em;}

.back{
    background-image: url("../images/back.png") !important;
    background-repeat: no-repeat !important;
    width:10%;
}

/*#logoutBtn{
    background-image: url("../images/logout.png") !important;
    background-repeat: no-repeat !important;
    width:2.5%;
}

#notificationBtn{
    background-image: url("../images/menu/notification_white.png") !important;
    background-repeat: no-repeat !important;
    width:3.5%;
}*/

.searchfieldset{
	margin: 0 0 0em;
}

.x-toolbar-dark-alert{
	background: url("") !important;
}

.msgbox .x-toolbar-dark{
    background: black !important;
}

.basefont{
	font-size: .8em
}

.x-loading-spinner {
	font-size: 1em;
}

.x-mask .x-mask-inner {
	font-weight: normal;
}

.x-button{
	border-radius: 0.1em;
}

h2{
    font-size: .9em;
    font-weight: bold;
}

h3{
    font-size: .9em;
}

h4{
    font-size: .8em;
}

h5{
    font-size: .7em;
}

h6{
    font-size: .6em;
}
.icons {
    font-size: 1em;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 30px;
}

.home{
    background-image: url("../images/home.png") !important;
    padding-left: 1.2em !important;
}

.outerContainer {
    display: table;
    height: 40px; /* height of parent */
    overflow: hidden;
}
.outerContainer .innerContainer {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

.edit{
    background-image: url("../images/edit.png") !important;
    padding-left: 1.2em !important;
}

.down{
    background-image: url("../images/downarrow.png") !important;
    padding-left: 1.2em !important;
}