/* text drp shadow */
h1 {
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 2em;
}
â€‹

.touchgridpanel .x-grid-cell {
    font-size: .8em;
}
.x-select-overlay {
    min-width: 200px;
    min-height: 0px;
    height: 250px;
}
.titleOverflow {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
body, p {
    font-size: 0.9em;
    line-height: 1em;
}
h2 {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: .9em;
    font-weight: bold;
}
h3 {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: .8em;
}
h4 {
    font-size: 0.75em;
    font-weight: bold;
    font-family: "Lato";
    color: #4D5562;
}
h5 {
    font-size: 0.64em;
    font-weight: bold;
    font-family: "Lato";
    color: #4D5562;
}
h6 {
    font-size: 0.7em;
    font-weight: bold;
    line-height: 12px;
    font-family: "Lato";
    color: #4D5562;
}
h7 {
    font-size: .5em;
    font-weight: bold;
    font-family: "Lato";
    color: #FFF;
}
h8 {
    font-size: .3em;
    font-weight: bold;
    font-family: "Lato";
    color: #FFF;
}
.loginTextWrapper {
    font-size: .85em;    /*overflow: hidden;*/
    text-overflow: ellipsis;
    max-width: 80px;
}
.due {
    font-size: .8em;
    color: #800000;
    font-weight: bold;
}
.duetext {
    font-size: .8em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}
.icons {
    font-size: 12px;
    color: #333;
    line-height: 1em;
    text-shadow: 0px 1px 2px #fff;
    display: inline-block;
    padding-bottom: 20px;
    vertical-align: top;
}
.icons-pressed {
    background-color: #9ABFE2;
    width: 50px;
    height: 50px;
}
.calendar {
    background-image: url("../images/calendar.png") !important;
    padding-left: 1.2em !important;
}
.mainModules {
    display: inline-block;
    padding-left: 5px;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 19px;
    font-size: 15px;
}
.x-form-label span {
    font-size: .85em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .custombackground {
        background-image: url('../images/dashboard/app_bg_320_460.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Landscape */
@media screen and (orientation:landscape) {
    .custombackground {
        background-image: url('../images/dashboard/app_bg_460_320.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.imageWidth {
    width: 100%;
}
.beveltoptoolbar {
    min-height: 55px;
    overflow: visible;
    background-image: none;
}
.titleWidth {
    width: 180px;
    bottom: 13px;
}

/*.logocircle {
                                                                                                                                                                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
                                                                                                                                                                        border-radius:50px;
                                                                                                                                                                        border:10px solid #F2F2F2;
                                                                                                                                                                        overflow:hidden;
                                                                                                                                                                        height:75px;
                                                                                                                                                                        width:75px;
                                                                                                                                                                        left:0px;
                                                                                                                                                                        background: #fff;
}

.logocircleinner {
                                                                                                                                                                        position:relative;
                                                                                                                                                                        top:-10px;
                                                                                                                                                                        border-radius:50px;
                                                                                                                                                                        border:10px solid #F2F2F2;
                                                                                                                                                                        overflow:hidden;
                                                                                                                                                                        height:75px;
                                                                                                                                                                        width:75px
}
.logoinnerhome {
                                                                                                                                                                        position: absolute;
                                                                                                                                                                        background: url(../images/menu/wit-logo.png) center no-repeat;
                                                                                                                                                                        height: 54px;
                                                                                                                                                                        width: 54px;
                                                                                                                                                                        background-size: cover;
                                                                                                                                                                        z-index: 1;
                                                                                                                                                                        top: 10px;
                                                                                                                                                                        left: 10px;
}

.logoinnerhomelog {
                                                                                                                                                                        position: absolute;
                                                                                                                                                                        background: url(../images/menu/wit-logo.png) center no-repeat;
                                                                                                                                                                        height: 54px;
                                                                                                                                                                        width: 54px;
                                                                                                                                                                        background-size: cover;
                                                                                                                                                                        z-index: 1;
                                                                                                                                                                        top: 10px;
                                                                                                                                                                        left: 10px;
}

.logocirclelog {
                                                                                                                                                                        box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
                                                                                                                                                                        position: absolute;
                                                                                                                                                                        border-radius:50px;
                                                                                                                                                                        border:10px solid #F2F2F2;
                                                                                                                                                                        overflow:hidden;
                                                                                                                                                                        height:75px;
                                                                                                                                                                        width:75px;
                                                                                                                                                                        background: #fff;
}


.predivpositioncss{position: relative !important;}
.precustomcenter{top: -36px !important; width: 160px !important;}

.divpositioncss{position: relative; !important;}
.customcenter{top: 0px !important; width: 200px !important;}
*/
.loginicon {
    background: url(../images/menu/login.png) center no-repeat;
    float: right;
    width: 21px;
    height: 21px
}
.logout {
    background-image: url(../images/menu/login.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 5px;
    width: 21px;
    height: 21px
}
.x-title h1 {
    position: relative;
    top: 65px;
    font-family: Verdana;
    font-size: 13px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0)
}
.bevelcontainer {
    background-color: #ffffff;
    padding-top: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;    /*background-image: -webkit-gradient(radial, center top, 0, center top, 0, from(transparent), to(#EEE), color-stop(99%, transparent));*/
    margin: 60px 5px 5px;
}
.couroselbevel {
    margin-top: 0px;
}
.homepage .x-inner {
    background-image: url(../images/borderline-phone.png);
    background-repeat: repeat;
    background-position: 0 20%;
}

/*.logoinnercourse {
                                                                                                                        border: 7px solid #F2F2F2;
                                                                                                                        background-repeat: no-repeat;
                                                                                                                        background-position: 50% 50%;
                                                                                                                        background-size: cover;
                                                                                                                        width: 75px;
                                                                                                                        height: 75px;
                                                                                                                        border-radius: 50%;
                                                                                                                        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                                                                                                                        left: 2px;
}*/
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    min-width: 1.6em;
    padding: .1em;
    font-weight: 700;
}
.x-toolbar .x-button .x-badge {
    line-height: 1.2em;
}
.notif {
    background-image: url(../images/menu/notification_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    background-size: 28px 28px;
    width: 30px;
    height: 30px;
}
.notifbutton {
    background: none !important;
    border: none !important;
    width: 50px;
}
.login {
    background-size: 30px 30px;
    background-image: url(../images/menu/login.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 19px;
    width: 30px;
    height: 30px
}
.logout {
    background-size: 30px 30px;
    background-image: url(../images/menu/logout.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 15px;
    margin-right: 5px;
    width: 30px;
    height: 30px
}
.home {
    background-image: url(../images/home.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-right: 5px;
    width: 30px;
    height: 30px
}
.back {
    background-image: url(../images/back.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 5px;
    width: 30px;
    height: 30px
}
.arrow {
    background-image: url(../images/arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    background-size: 16px 16px;
    width: 17px;
    height: 17px
}
.x-toolbar.x-docked-bottom > .x-toolbar-inner > .x-button {
    font-size: .7em !important;
    background-image: none !important;
    border: none !important;
    background-color: #ffffff;
    opacity: 1.0;
    text-shadow: 0px 0px 0px 0;
    color: #241e1e;
}
.x-button.x-button-action, .x-button {
    font-size: 1em !important;
    background-color: #ffffff;
    background-image: none;
    border: none !important;
    color: #241e1e;
    text-shadow: 0px 0px 0px 0;
}
.esummaryimg {
    background-image: url(../images/menu/summary.png) !important;
    background-repeat: no-repeat !important;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
.messagesimg {
    background-image: url(../images/menu/recieve1.png) !important;
    background-repeat: no-repeat !important;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}
.x-input-el {
    font-size: 0.85em;
    padding: 4px;
}
.subnavText {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: .8em;
}
.listDate {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: .7em;
}
.settingsText {
    font-size: 0.7em;
    font-weight: bold;
    font-family: "Lato";
    line-height: 15px;
    color: #4D5562;
}
.labelText {
    font-size: 0.7em;
    font-family: "Lato";
    line-height: 15px;
    color: rgba(231, 177, 186, 0.9);
}
.searchText {
    font-size: 0.5em;
}
.logName {
    min-width: 85px;
    text-align: right;
    max-width: 85px;
    text-overflow: ellipsis;
    font-size: 10px;
}
.x-list .x-list-item.x-list-item-tpl .x-innerhtml {
    padding: 35px 15px;
    margin-top: -25px;
}