/* text drp shadow */
h1 {
    font-size: 2em !important;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
​ .touchgridpanel .x-grid-cell {
    font-size: 1.2em;
}
.x-select-overlay {
    font-size: 14px;
    min-width: 300px;
    min-height: 0px;
    height: 400px;
}
h2 {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: 1.2em;
    font-weight: bold;
}
h3 {
    font-family: "Lato";
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: #4D5562;
    font-size: 1.s2em;
}
h4 {
    font-size: 0.8em;
    font-weight: bold;
    font-family: "Lato";
    color: #4D5562;
}
h5 {
    font-size: 0.6em;
    font-weight: bold;
    font-family: "Lato";
    color: #4D5562;
}
h6 {
    font-size: 0.5em;
    font-weight: bold;
    font-family: "Lato";
    color: #4D5562;
}
h7 {
    font-size: 1em;
    font-weight: bold;
    font-family: "Lato";
    color: #FFF;
}
.loginTextWrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85px;
}
.due {
    font-size: 1em;
    color: #800000;
    font-weight: bold;
}
.duetext {
    font-size: 1em;
    color: #800000;
    font-weight: bold;
    vertical-align: super
}
.icons {
    font-size: 29px !important;
    line-height: 1em;
    color: #333;
    text-shadow: 0px 0px 0px 0;
    display: inline-block;
    padding-bottom: 60px;
    font-family: "Lato";
    font-weight: normal;
}
.icons-pressed {
    background-color: #9ABFE2;
    width: 100px;
    height: 100px;
}
.mainModules {
    display: inline-block;
    padding-left: 5px;
    color: #95a1aa;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
    font-size: 18px;
    font-family: "Lato";
}
.x-form-label span {
    font-size: 1em;
}

/* Portrait */
@media screen and (orientation:portrait) {
    .custombackground {
        background-image: url('../images/dashboard/app_bg_768_1004.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Landscape */
@media screen and (orientation:landscape) {
    .custombackground {
        background-image: url('../images/dashboard/app_bg_1004_768.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.x-toolbar.x-docked-bottom > .x-toolbar-inner > .x-button {
    font-size: 1.4em !important;
    background-image: none !important;
    border: none !important;
    background-color: #ffffff;
    opacity: 1.0;
    text-shadow: 0px 0px 0px 0;
    color: #241e1e;
}
.x-button.x-button-action, .x-button {
    font-size: 1em !important;
    background-color: #ffffff;
    background-image: none;
    border: none !important;
    color: #241e1e;
    text-shadow: 0px 0px 0px 0;
}
.x-hasbadge .x-badge {
    -webkit-border-radius: 3em;
    border-radius: 3em;
    padding: .1em;
    font-weight: 700
}
.notif {
    background-image: url(../images/menu/notification_white.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    background-size: 42px 42px;
    width: 42px;
    height: 42px;
}
.login {
    background-size: 42px 42px;
    background-image: url(../images/menu/login.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 38px;
    width: 42px;
    height: 42px
}
.logout {
    background-size: 42px 42px;
    background-image: url(../images/menu/logout.png) !important;
    background-repeat: no-repeat !important;
    background-position: cover;
    margin-left: 33px;
    margin-right: 5px;
    width: 42px;
    height: 42px
}
.notifbutton {
    background: none !important;
    border: none !important;
    width: 70px;
}
.esummaryimg {
    background-image: url(../images/menu/summary.png) !important;
    background-repeat: no-repeat !important;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}
.messagesimg {
    background-image: url(../images/menu/recieve1.png) !important;
    background-repeat: no-repeat !important;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
}

.titleWidth{
   width:300px;
   bottom: 19px;
}

/*.logocircle {
                                                                                                position:relative;
                                                                                                top:1px;
                                                                                                border-radius:100px;
                                                                                                border:20px solid #F2F2F2;
                                                                                                overflow:hidden;
                                                                                                height:130px;
                                                                                                width:130px;
                                                                                                box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.logocirclelog {
                                                                                                position:relative;
                                                                                                top:1px;
                                                                                                left:39px;
                                                                                                border-radius:100px;
                                                                                                border:20px solid #F2F2F2;
                                                                                                overflow:hidden;
                                                                                                height:130px;
                                                                                                width:130px;
                                                                                                box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.logoinnerhome {
                                                                                            height: 92px;
                                                                                            width: 92px;
                                                                                            overflow: hidden;
                                                                                            background-size: cover;
                                                                                            z-index: 1;
                                                                                            top: 19px;
                                                                                            left: 19px;
                                                                                            background: url(../images/menu/wit-logo.png) center no-repeat;
                                                                                            position: absolute;
}

.logoinnerhomelog {
                                                                                            height: 92px;
                                                                                            width: 92px;
                                                                                            overflow: hidden;
                                                                                            background-size: cover;
                                                                                            z-index: 1;
                                                                                            top: 19px;
                                                                                            left: 59px;
                                                                                            background: url(../images/menu/wit-logo.png) center no-repeat;
                                                                                            position: absolute;
}

.logoinnercourse {
                                                                                              border : 12px solid #F2F2F2;
                                                                                                background-repeat : no-repeat;
                                                                                                background-position : 50% 50%;
                                                                                                background-size : cover;
                                                                                                width : 130px;
                                                                                                height : 130px;
                                                                                                border-radius : 50%;
                                                                                                box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                                                                                                top:-20px;
}
.divpositioncss{position: relative !important;}
.custcenter{
                                                                                                top: -22px !important;
                                                                                                width: 92% !important;
                                                                                                left: 4%;
}*/

/*.precustcenter {
                                                                                    top: -22px !important;
                                                                                    width: 92% !important;
                                                                                    left: 4%;
}
.predivpositioncss {
                                                                                    position: relative !important;
}*/